<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="row">
<br/>
<form class="form-horizontal">
<div class="form-group">
    <label for="Email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="Email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="Password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
</div>
</div>

<br/>
<!-- registration -->

<div class="container">
<div class="row">
<br/>
<form class="form-horizontal">
  <div class="form-group">
    <label for="UserName" class="col-sm-2 control-label">UserName</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="username" placeholder="UserName">
    </div>
  </div>
<div class="form-group">
    <label for="Email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="Email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="Password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default">Sign up</button>
    </div>
  </div>
</form>
</div>
</div>

<!-- updation...... -->
<div class="container">
<div class="row">
<br/>
<form class="form-horizontal">
<div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="username" placeholder="UserName">
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="Password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default">Update</button>
    </div>
  </div>
</form>
</div>
</div>















<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript">
var loginApp = angular.module('loginApp', []);

loginApp.controller('RegisterCtrl',['$scope','$http', function ($scope,$http) {

}]);
loginApp.controller('Loginctrl',['$scope','$http',function($scope,$http){
$scope.data={}
$scope.data.all=true;

$scope.mesg=false;
$scope.getAllData=function(){
var req = {
 method: 'GET',
 url: 'http://localhost:3000/all',
 headers: {
   'Content-Type': "application/JSON"//undefined
 }
}
$http(req).then(function(status,data){
console.log(status);
if(status.data.success){
$scope.userlist=status.data.data;
}else{
alert(status.data.err);
}
//$scope.userlist = [];
 }, function(status,data){alert("error call");//console.log("coming to error page") 
 });
}
$scope.getAllData();
$scope.newuser=function(){
//$scope.status="register";
$scope.data={};
$scope.data.register=true;
$scope.mesg=false;
}
$scope.userlogin=function(){
$scope.data={};
$scope.data.login=true;
//$scope.status="login";
$scope.mesg=false;
}
$scope.updatepage=function(id){
$scope.data={};
$scope.data.update=true;
//$scope.status="update";
$scope.mesg=false;
}
$scope.mainhome=function(){
$scope.data ={};
$scope.data.all=true;
//$scope.status="all";
$scope.mesg=false;
$scope.getAllData();
}
$scope.loginFun= function(data){
console.log(data);
var req = {
 method: 'POST',
 url: 'http://localhost:3000/login',
 headers: {
   'Content-Type': "application/JSON"//undefined
 },
data:data
}
$http(req).then(function(status,data){
if(status.data.success){
$scope.mesg=true;
$scope.message=status.data.success;
$scope.data.all=true;
} else{
$scope.message=status.data.err;
$scope.data.login=true;
}

});
}
$scope.regfun=function(data){
console.log(data);
}
$scope.updatefun=function(data){
console.log(data);
}
$scope.deleterec=function(id){
var req = {
 method: 'GET',
 url: 'http://localhost:3000/delete/'+id,
 headers: {
   'Content-Type': "application/JSON"//undefined
 }
}
$http(req).then(function(status,data){if(status.data.success){
$scope.mesg=true;
$scope.message=status.data.success;
$scope.data.all=true;
} else{
$scope.message=status.data.err;
$scope.data.all=true;
}

}, function(status,data){console.log("coming to error page") });
$scope.data.all=true;
$scope.mesg=false;
alert("some thing goes wrong");
}
}]);
</script>
<div class="container" ng-app="loginApp">
<div class="row" ng-controller="Loginctrl">

<br/>
<br/>
<br/>
<div class="col-sm-2 col-sm-offset-10" ng-show=!(data.all)>
<button type="button" class="btn btn-default" ng-click="mainhome()">Home</button>
</div>
<div>

<div ng-show=data.all>

<div class="col-sm-offset-8 col-sm-2">
<button type="button" class="btn btn-info" ng-click="userlogin()">Login</button>
</div>
<div class="col-sm-2">
<button type="button" class="btn btn-primary" ng-click="newuser()">New User</button>
</div>
<div ng-repeat="user in userlist">
<div class="col-sm-3">
{{user.username}}
</div>
<div class="col-sm-3">
{{user.email}}
</div>
<div class="col-sm-3">
{{user.password}}
</div>
<div class="col-sm-1">
<button type="button" class="btn btn-warning" ng-click="updatepage(user._id)">Update</button>
</div>
<div class="col-sm-1">
<button type="button" class="btn btn-danger" ng-click="deleterec(user._id)">Delete</button>
</div>
</div>
</div>
<div class="col-sm-offset-2 col-sm-offset-5" ng-show=mesg>{{message}}</div>
<form class="form-horizontal" ng-show=data.login>
<div class="form-group">
    <label for="Email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="Email" ng-model="login.email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="Password" ng-model="login.password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default" ng-click="loginFun(login)">Sign in</button>
    </div>
  </div>
</form>

<form class="form-horizontal" ng-show=data.register>
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">UserName</label>
    <div class="col-sm-3">
      <input type="text" ng-model="reg.username" class="form-control" id="username" placeholder="UserName">
    </div>
  </div>
<div class="form-group">
    <label for="Email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" ng-model="reg.email" id="Email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" ng-model="reg.password" id="Password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default" ng-submit=regfun(reg)>Sign up</button>
    </div>
  </div>
</form>

<form class="form-horizontal" ng-show=data.update>
<div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" ng-model="update.username" id="username" placeholder="UserName">
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" ng-model="update.password" id="Password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default">Update</button>
    </div>
  </div>
</form>


</div>
</div>
</div>
</body>
</html>