<body>

<br/>

<br/>
<br/>
<br/>
<br/>
<span id="userid" style="display:none;">{{_id}}</span>
<p id ="succmsg" style="display:none">
Password reset successFully Please go to login page
<a href="http://localhost/#/login"><input type="button" value="Go to Login page"/></a>
</p>
<form name="passwdForm" id="pform">
Enter NewPassword<input type = "password" id="password" name="password" required/>
<input type="button" id="submit" value="Reset"/>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#submit").click(function(ev){
	ev.preventDefault();
	var passobj={};
	passobj._id = $("#userid").text();
	passobj.password= $("#password").val();
	if(passobj.password){
	console.log(passobj);
	$.ajax({
  method: "POST",
  url: "/reset/password",
  data: passobj
})
  .done(function( results ) {
  
    console.log(results)

    if(results.status == "success"){
   // $("#pform").html("Your password reset success please login to continue");
   $("#pform").hide();
   $("#succmsg").show();
    }else{
    alert(results.msg);
    }
    //alert( "Data Saved: " + msg );
  });
  }else{
	alert("Please Enter password");
	}
	});
});
</script>
</body>