<div class="row" data-ng-init="initMap()">
<form name="LocationForm">
<div class="col-sm-4">
	 <div class="form-group">
    <label class="sr-only" for="fromAddress">From:</label>
    <input type="text" class="form-control" id="fromAddress" placeholder="Enter your location" ng-focus="geolocate()" ng-model="mapdata.loc" required/>
  </div>
</div>

<div class="col-sm-8">
	<div class="form-group">
		<button type="submit" class="btn btn-default" data-ng-disabled="LocationForm.$invalid" ng-click ="saveLocation(mapdata)">Submit</button>
	</div>
</div>
</form>
<div class="col-sm-12">
<div id="map"></div>
</div>
	
</div>